   <!-- 内容主体区域 -->
    <div style="padding: 15px; width:600px;">
    	<h2 align="center">修改密码</h2>
<form class="layui-form" action="">

	<div class="layui-form-item">
		<label class="layui-form-label">原密码:</label>
		<div class="layui-input-block">
			<input type="password" name="old_pwd" required lay-verify="required|checkPwd" autocomplete="off" class="layui-input" placeholder="请输入旧密码">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">新密码:</label>
		<div class="layui-input-block">
			<input type="password" name="new_pwd1" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="请输入深思熟虑后的密码">
		</div>
	</div>
	<div class="layui-form-item">
		<label class="layui-form-label">确认密码:</label>
		<div class="layui-input-block"><!--  -->
			<input type="password" name="new_pwd2" required lay-verify="required" autocomplete="off" class="layui-input" placeholder="此密码与新密码保持一致">
		</div>
	</div>
	<div class="layui-form-item">
		<div class="layui-input-block">
			<button class="layui-btn" lay-submit lay-filter="*">立即提交</button>
			<button type="reset" class="layui-btn layui-btn-primary">重置</button>
		</div>
	</div>
</form>
	 
<script>
	$(function(){
		layui.use(['form','layer'],function(){
			var form = layui.form;
			var layer = layui.layer;
			//验证	
			form.verify({
			   checkPwd: function(value, item){
			   		var reg = /^.{6,12}$/;
			   		if(!reg.test(value)){
			   			return '密码在6-12位之间';
			   		}
			   } 
			})   

			//提交数据
			form.on('submit(*)', function(data){
			  	$.post(
			  		"{:url('Admin/updatePwd')}",
			  		data.field,
			  		function(result){
			  			layer.msg(result.font,{icon:result.code});
			  			if(result.code==1){
			  				location.href="{:url('Login/quit')}";
			  			}
			  		}
			  		,'json'
			  	);
			  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});
		});
	})
		
</script>
</div>