<div cate_id="{$info.topData.cate_id}" floor_num="{$floor_num}">
    <div class="i_t mar_10">
        <span class="floor_num">{$floor_num}F</span>
        <span class="fl">{$info.topData.cate_name}</span>                
        <span class="i_mores fr">
            {volist name="info['cateData']" id="v"}
            <a href="#">{$v.cate_name}</a>&nbsp; &nbsp; &nbsp; 
            {/volist}  
        </span>
    </div>
    <div class="content">
        <div class="fresh_mid">
            <ul>
                {volist name="info['goodsData']" id="v"}
                <li>
                    <div class="name"><a href="#">{$v.goods_name}</a></div>
                    <div class="price">
                        <font>￥<span>{$v.goods_selfprice}</span></font> &nbsp; {$v.goods_fen}R
                    </div>
                    <div class="img"><a href="{:url('product/product')}?id={$v.goods_id}"><img src="/goodsimg/{$v.goods_img}" width="185" height="155" /></a></div>
                </li>
                {/volist}                     
            </ul>
        </div>
    </div>   
</div> 
