{include file="public/top"}
<script type="text/javascript" src="__STATIC__/index/js/n_nav.js"></script>

<!--End Menu End-->
<div class="i_bg">
    <div class="content mar_20">
        <img src="__STATIC__/index/images/img2.jpg" />
    </div>

    <!--Begin 第二步：确认订单信息 Begin -->
    <div class="content mar_20">
        <div class="two_bg">
            <div class="two_t">
                <span class="fr"><a href="#">修改</a></span>商品列表
            </div>
            <table border="0" class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td class="car_th" width="550">商品名称</td>
                    <td class="car_th" width="140">单价</td>
                    <td class="car_th" width="150">购买数量</td>
                    <td class="car_th" width="130">小计</td>
                    <td class="car_th" width="140">返还积分</td>
                </tr>
                {volist name="cartInfo" id="v"}
                <tr><!-- class="car_tr"-->
                    <td>
                        <div class="c_s_img"><img src="/goodsimg/{$v.goods_img}" width="73" height="73" /></div>
                        {$v.goods_name}
                    </td>
                    <td align="center">￥{$v.goods_selfprice}</td>
                    <td align="center">{$v.buy_number}</td>
                    <td align="center" style="color:#ff4e00;"  class="subtotal">￥{$v.goods_selfprice*$v.buy_number}</td>
                    <td align="center"  class="score">{$v.goods_fen}R</td>
                </tr>
                {/volist}
                <!--<tr>
                    <td colspan="5" align="right" style="font-family:'Microsoft YaHei';">
                        商品总价：￥1899.00 ； 返还积分 56R
                    </td>
                </tr>-->
            </table>

            <div class="two_t">
                <span class="fr"><a href="#">修改</a></span>收货人信息
            </div>
            <div style="overflow-y: auto; height: 200px;">
                {if condition="$addressInfo eq []"}
                    <div class="mem_tit">
                        <a href="{:url('user_address/address')}"  name="address" value=""><img src="__STATIC__/index/images/add_ad.gif" /></a>
                    </div>
                {else}
                    {volist name="addressInfo" id='v'}
                    <table border="0" class="peo_tab" style="width:1110px; margin-top:10px;" cellspacing="0" cellpadding="0">
                        <tr>
                            <td rowspan="2">
                                {if condition="$v['is_default'] eq 1"}
                                <input type="radio" name="radio" value="{$v.add_id}" checked>
                                {else/}
                                <input type="radio" name="radio" value="{$v.add_id}">
                                {/if}
                            </td>
                            <td class="p_td" width="160">收货人</td>
                            <td width="395">{$v.add_name}</td>
                            <td class="p_td" width="160">手机号</td>
                            <td width="395">{$v.add_tel}</td>
                        </tr>
                        <tr>
                            <td class="p_td">省市区</td>
                            <td>{$v.province_name} {$v.city_name} {$v.area_name}</td>
                            <td class="p_td">详细信息</td>
                            <td>{$v.add_ress}</td>
                        </tr>
                    </table>
                    {/volist}
                {/if}
            </div>

            <div class="two_t">
                支付方式
            </div>
            <ul class="pay">
                <li class="checked">余额支付<div class="ch_img"></div></li>
                <li>货到付款<div class="ch_img"></div></li>
                <li>支付宝<div class="ch_img"></div></li>
            </ul>
            <div class="two_t">
                其他信息
            </div>
            <table class="car_tab" style="width:1110px;" cellspacing="0" cellpadding="0">
                <tr>
                    <td align="right" style="padding-right:0;"><b style="font-size:14px;">订单附言：</b></td>
                    <td style="padding-left:0;">
                        <textarea class="add_txt" style="width:860px; height:50px;"></textarea>
                    </td>
                </tr>
            </table>

            <table border="0" style="width:900px; margin-top:20px;" cellspacing="0" cellpadding="0">
               <!-- <tr>
                    <td align="right">
                        该订单完成后，您将获得 <font color="#ff4e00">1815</font> 积分<br />
                        商品总价: <font color="#ff4e00">￥1815.00</font>
                    </td>
                </tr>-->

                <tr height="70">
                    <td align="right">
                        <span>您将获得 <font color="#ff4e00" size="4px;" id="score">0</font> 积分</span>
                        <b style="font-size:14px;">应付款金额：<span style="font-size:22px; color:#ff4e00;" id="total">￥0</span></b>
                    </td>
                </tr>
                <tr height="70">
                    <td align="right">
                        <a href="javascript:;" id="confirmOrder"><img src="__STATIC__/index/images/btn_sure.gif" /></a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!--End 第二步：确认订单信息 End-->
</div>
<script>
    $(function(){
        layui.use(['layer'],function() {
            var total = 0;
            var score = 0;
            //总价   总积分
            $('.subtotal').each(function(index){
               total+=parseInt($(this).text().substr(1));
            });
            $('.score').each(function(index){
                score+=parseInt($(this).text().substr(0,$(this).text().length-1));
            });
//            console.log(score);
            $('#total').text("￥"+total)
            $('#score').text(score)

            //支付方式
            $('.pay').children('li').click(function(){
                var _this = $(this);
                _this.siblings().removeClass('checked');
                _this.addClass('checked');
            })

            //确认订单
            $('#confirmOrder').click(function(){
                var id = "{:input('get.id')}";//购物车id
                var _radio = $(':radio');//收货地址 单选框
                var add_id;
                _radio.each(function(index){
                    if($(this).prop('checked')==true){
                        add_id = $(this).val();
                    }
                })
                var pay_type = $('.pay').children("li[class='checked']").index()+1;//支付方式
                var pay_message = $('.add_txt').val();//获取留言
                $.post(
                    "{:url('order/confirmOrder')}",
                    {id:id,add_id:add_id,pay_type:pay_type,order_message:pay_message},
                    function(result){
                        layer.msg(result.font,{icon:result.code});
                        if(result.code==1){
                            location.href="{:url('Order/orderSuccess')}?order_id="+result.order_id;
                        }
                    }
                    ,'json'
                );
            })
        })
    })
</script>
